<template>
  <table>
    <tbody>
      <tr>
        <td class="label">Číslo povodí:</td>
        <td>{{ feature.get('chp') }}</td>
      </tr>
      <tr>
        <td class="label">Výměra</td>
        <td>{{ feature.get('a_km2').toFixed(2) }} km<sup>2</sup></td>
      </tr>
      <tr>
        <td class="label">Úhrn návrhové srážky:</td>
        <td>{{ feature.get('h_n10t360').toFixed(1) }} mm</td>
      </tr>
    </tbody>
  </table>

  <h3>Průběh návrhových srážek</h3>
  <div class="graph"></div>

  <div class="bar-graph">
    <div
      ng-repeat="type in ['a', 'b', 'c', 'd', 'e', 'f']"
      ng-init="attr = 'p_n10typ' + type"
      ng-style="{
        width: feature.get(attr) + '%',
        backgroundColor: Legend[type.toUpperCase()][1]
      }">
      {{ feature.get(attr) }}%
    </div>
  </div>

  <div style="text-align:center; margin-top: 1em">
    <a href="#" ng-click="downloadData($event)">Data CSV</a>
  </div>
</template>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
  function($scope, $element, gislabClient, projectProvider) {

    // Set the dimensions of the canvas / graph
    var margin = {top: 30, right: 50, bottom: 50, left: 50};
    var width = 500 - margin.left - margin.right;
    var height = 250 - margin.top - margin.bottom;


    // Define the line
    var valueline = d3.svg.line()
      .x(function(d) { return x(d.time); })
      .y(function(d) { return y(d.value); });

    // Adds the svg canvas
    var graph = d3.select($element[0]).select('.graph');
    var svg = graph
      .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", 
              "translate(" + margin.left + "," + margin.top + ")");
    svg.append("rect")
      .attr("class", "overlay")
      .attr("width", width)
      .attr("height", height)
      .on("mousemove", mousemove)
      .on("mouseover", function() {
        tooltip.transition()
          .duration(200)
          .style("opacity", .9);
        mouseLine.transition()
          .duration(200)
          .style("opacity", 1);
      })
      .on("mouseleave", function() {
        tooltip.transition()
          .duration(200)
          .style("opacity", 0);
        mouseLine.transition()
          .duration(200)
          .style("opacity", 0);
      })

    svg.append("text")      // text label for the x axis
      .attr("x", width/2)
      .attr("y",  height + margin.bottom)
      .style("text-anchor", "middle")
      .text("Čas [min]");

      svg.append("text")      // text label for the y axis
      // .attr("x", -margin.left * .7)
      // .attr("y",  height/2)
      .style("text-anchor", "middle")
      // .attr('dx', '-3em')
      // .attr('dy', '-7em')
      .attr('transform', 'translate('+(-margin.left * .7)+', '+(height/2)+') rotate(-90)')
      .text("Úhrn [mm/5min]");

    // Set the ranges
    var x = d3.scale.linear().range([0, width]);
    var y = d3.scale.linear().range([height, 0]);

    // Define the axes
    var xAxis = d3.svg.axis().scale(x)
      .orient("bottom").tickValues(d3.range(0, 365, 60));

    var yAxis = d3.svg.axis().scale(y)
      .orient("left").ticks(9);

    x.domain([0, 360]);
    y.domain([0, 12.8]);

    // Add the X Axis
    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    // Add the Y Axis
    svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);


    var data = {};
    var LegendData = {
        'A' : ["typ A", "rgb(255,0,0)"],
        'B' : ["typ B", "rgb(255,124,128)"],
        'C' : ["typ C", "rgb(255,192,0)"],
        'D' : ["typ D", "rgb(25,255,0)"],
        'E' : ["typ E", "rgb(146,208,80)"],
        'F' : ["typ F", "rgb(0,112,192)"],
    }
    // add legend   
    var legend = svg.append("g")
      .attr("class", "legend")
      .attr("x", width - 15)
      .attr("y", 0)
      .attr("height", 100)
      .attr("width", 100);

    legend.selectAll('g').data(['A', 'B', 'C', 'D', 'E', 'F'])
      .enter()
      .append('g')
      .each(function(d, i) {
        var g = d3.select(this);
        g.append("rect")
          .attr("x", width - 15)
          .attr("y", i * 25)
          .attr("width", 10)
          .attr("height", 10)
          .style("fill", LegendData[d][1]);

        g.append("text")
          .attr("x", width - 0)
          .attr("y", i * 25 + 10)
          .attr("height",20)
          .attr("width",100)
          .style("fill", LegendData[d][1])
          .text(LegendData[d][0]);
      });

    function initializeGraph(id) {
      console.log('initializeGraph')
      // Scale the range of the data
      // x.domain(d3.extent(data, function(d) { return d.time; }));
      //y.domain([0, d3.max(data, function(d) { return d.value; })]);
  
      // Add the valueline path.
      svg.append("path")
        .attr("class", "line")
        .attr("id", 'typ'+id)
        .attr("d", valueline(data[id]))
        .style("stroke", LegendData[id][1]);
    }

    function fetchData(id) {
      return gislabClient.post(
        'filter/?PROJECT={0}'.format(projectProvider.data.project),
        {'layer': 'typ'+id})
        .then(function(resp) {
          data[id] = resp.features.map(function(f) {
            return {
              time: f.properties['T_(min)'],
              value: (f.properties['H5min_(%)'] / 100.0) * $scope.feature.get('h_n10t360')
            }
          });
          // console.log(JSON.stringify(data));
          initializeGraph(id);
        });
    }

    function showGraphs(feature) {
      var ids = ['A', 'B', 'C', 'D', 'E', 'F'];
      svg.selectAll('.line').classed('hide', true);
      ids.forEach(function(id) {
        //var line = svg.select('#typ{0}.line'.format(id));
        //if (!line.empty()) {
        //  line.classed('hide', false);
        //} else {
          fetchData(id);
        //}
      });
    }

    showGraphs($scope.feature);


    // this is the black vertical line to follow mouse
    var mouseLine = svg.append("path")
      .attr("class", "mouse-line")
      .style("stroke", "#444")
      .style("stroke-width", "1px")
      .style("opacity", "0");

    // Define the div for the tooltip
    var tooltip = graph
      .append("div") 
        .attr("class", "tooltip")
        .style("opacity", 0);
    tooltip.time = tooltip.append("h4");
    tooltip.values = tooltip.append("div").attr("class", "values");

    ['A', 'B', 'C', 'D', 'E', 'F'].forEach(function(id) {
      tooltip.values.append("div")
        .attr("id", "g"+id)
        .style("color", LegendData[id][1])
        .html(id)
    });

    var bisectTime = d3.bisector(function(d) { return d.time; }).left
    function mousemove(e) {
      var mousePos = d3.mouse(this);
      var xVal = x.invert(mousePos[0]);

      var d;
      Object.keys(data).forEach(function(id) {
        var graphData = data[id];
        
        var i = bisectTime(graphData, xVal, 0);
        d = graphData[i];

        tooltip.values.select('#g'+id).html(d.value.toFixed(3));
      });
      // console.log('mouse: '+xVal.toFixed(3) +'  D1 time: '+d.time);

      var lineX = x(d.time);

      tooltip.time.html(d.time+' min.');
      tooltip
        .style("left", (margin.left+lineX+4) + "px")
        .style("top", margin.top + "px");

      mouseLine.attr("d", function() {
        var d = "M" + lineX + "," + height;
        d += " " + lineX + "," + 0;
        return d;
      });

    }

    $scope.Legend = LegendData;
    $scope.$on('featurechange', function(evt, feature) {
      console.log('featurechange')
      // y.domain([0, 16]);
      // svg.select(".y.axis").call(yAxis); // change the y axis

      showGraphs(feature);
    });

    $scope.downloadData = function(evt) {
      var link = evt.target;
      link.download = 'data.csv';
      csv = ['CAS_min;H_N10typA_mm;H_N10typB_mm;H_N10typC_mm;H_N10typD_mm;H_N10typE_mm;H_N10typF_mm'];

      var types = Object.keys(data);
      data[types[0]].forEach(function(d, index) {
        var rowData = [d.time];
        types.forEach(function(type) {
          rowData.push(data[type][index].value.toFixed(3));
        });
        csv.push(rowData.join(';'));
      })

      var blob = new Blob(
        [csv.join('\n')],
        {type: "text/csv;charset=utf-8"}
      );
      link.href = URL.createObjectURL(blob);
    }
  }
</script>

<style>
  .info-panel table td.label {
    font-weight: 500;
    padding-right: 12px;
  }
  .graph {
    position: relative;
  }
  .graph svg {
    pointer-events: none;
  }
  .graph path { 
    stroke-width: 2;
    fill: none;
    pointer-events: none;
  }
  .info-panel h3 {
    color: #333;
    text-align: center;
  }
  .graph .axis path,
  .graph .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  .graph .line.hide {
    display: none;
  }

  .graph .overlay {
    fill: transparent;
    pointer-events: all;
  }
  .graph .tooltip {
    position: absolute;
    background-color: #eee;
    border-radius: 4px;
    font-size: 0.8rem;
    pointer-events: none;
    text-align: center;
    padding: 0 3px;
  }
  .graph .tooltip h4 {
    margin: 0;
    white-space: nowrap;
    position: absolute;
    transform: translate(-50%, -110%);
  }
  .bar-graph {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    text-align: center;
    margin-top: 8px;
  }
  .bar-graph > div {
    border: 1px solid #333;
    box-sizing: border-box;
    padding: 1px 0;
  }

</style>
